.bg-image {
    background: url("../../../assets/bgs/login.jpg");
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

#firstButton {
    margin-left: 2%;
    margin-bottom: 2%;    
}

form {
    padding-top: 30px;
    width: inherit;
    padding-left: 5%;
    padding-right: 5%;
}

.fill {
    min-height: 100%;
    height: 100%;
    overflow: auto;
}

.center {
    display: flex;
    justify-content: center;
    align-items: center;
}

.container {
    height: 100%;
}

#content {
    width: inherit;
    background: rgba(255,255,255,0.8);
}

#loginTitle {
    margin-top: 30px;
}