<div id="content" class="container">
  <div class="warning">
    <h4>Preencha os dados abaixo<br>Crie sua primeira <strong>Certidão de Nascimento</strong> eletrônica.</h4>
    <p>Ao criar o seu documento ele ficará pendente até que as informações sejam validadas.</p>
  </div>
  <div id="general-form">
    <form [formGroup]="formGroup">
      <div class="form-row">
        <div class="form-group col-md-6">
          <label for="inputHospitalName">Nome do hospital</label>
          <input type="text" class="form-control" id="inputHospitalName" [formControl]="formGroup.get('hospitalName')"
            name="hospitalName" placeholder="Nome do hospital">
        </div>
        <div class="form-group col-md-6">
          <label for="inputBirthCity">Cidade do nascimento</label>
          <input type="text" class="form-control" id="inputBirthCity" [formControl]="formGroup.get('cityOfBirth')" name="birthCity"
            placeholder="Cidade do nascimento">
        </div>
      </div>
      <div class="form-row">
        <div class="form-group col-md-6">
          <label for="inputName">Nome do pai</label>
          <input type="text" class="form-control" id="inputFathersName" [formControl]="formGroup.get('fathersName')"
            placeholder="Nome do pai">
        </div>
        <div class="form-group col-md-6">
          <label for="inputLastName">Nome da mãe</label>
          <input type="text" class="form-control" id="inputMothersName" [formControl]="formGroup.get('mothersName')"
            placeholder="Nome da mãe">
        </div>
      </div>

      <div class="form-row">
        <div class="form-group col-md-6">
          <label for="fathersGrandfathersName">Nome do avô paterno</label>
          <input type="text" class="form-control" id="inputFathersGrandfathersName" [formControl]="formGroup.get('fathersGrandfathersName')"
            placeholder="Nome do avô paterno">
        </div>
        <div class="form-group col-md-6">
          <label for="inputFathersGrandmothersName">Nome da avó paterna</label>
          <input type="text" class="form-control" id="inputFathersGrandmothersName" [formControl]="formGroup.get('fathersGrandmothersName')"
            placeholder="Nome da avó paterna">
        </div>
      </div>

      <div class="form-row">
        <div class="form-group col-md-6">
          <label for="inputMothersGrandmothersName">Nome do avô materno</label>
          <input type="text" class="form-control" id="inputMothersGrandmothersName" [formControl]="formGroup.get('mothersGrandmothersName')"
            placeholder="Nome do avô materno">
        </div>
        <div class="form-group col-md-6">
          <label for="inputMothersGrandfathersName">Nome da avó materna</label>
          <input type="text" class="form-control" id="inputMothersGrandfathersName" [formControl]="formGroup.get('mothersGrandfathersName')"
            placeholder="Nome da avó materna">
        </div>
      </div>

      <div class="form-row">
        <div class="form-group col-md-6">
          <label for="inputLastName">Data do nascimento</label>
          <input type="date" class="form-control" id="inputBirthDate" [formControl]="formGroup.get('birthDate')"
            placeholder="Data de nascimento">
        </div>
        <div class="form-group col-md-6">
          <label for="inputName">CPF</label>
          <input type="text" class="form-control" id="inputCPF" [formControl]="formGroup.get('cpf')" placeholder="CPF">
        </div>
      </div>
    </form>

    <button id="create-button" type="button" class="btn btn-secondary" [disabled]="formGroup.invalid" (click)="create()">Criar</button>
    <button type="button" class="btn btn-primary" (click)="setAddress()">Teste</button>
  </div>
</div>
